body {
    /* background-image: url('../assets/background_web.jpg');
    background-repeat: repeat;
    background-size: 50% 50%; */
    /* background-size: cover; */
}

.bg-1 {
    background-color: #272727;
}

.bg-2 {
    background-color: #747474;
}

.bg-3 {
    background-color: #ff652f;
}

.bg-4 {
    background-color: #FFD447;
}

.bg-5 {
    background-color: #5998c5;
}

.color-1 {
    color: #272727;
}

.color-2 {
    color: #747474;
}

.color-3 {
    color: #ff652f;
}

.color-4 {
    color: #FFD447;
    /* ffe400 */
    /* 5998C5 */
    /* 7A6F9B */
    /* 4BC6B9 */
    /* FFD447 */
}

.color-5 {
    color: #5998c5;
    /* 14a76c */
}

.color-white {
    color: #ffffff;
    /* 14a76c */
}

#main-header .fab {
    color: #14a76c;
}

#main-header .fab:hover {
    opacity: 0.8;
    cursor: pointer;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

#main-header .row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

.card {
    border-left: 4px solid #272727;
    border-top: 0px;
    border-right: 4px solid #272727;
    border-bottom: 4px solid #272727;
}

.card-body {
    background-color: #ffffff;
    min-height: 480px;
    border: 4px solid #272727;
}

.active-nav {
    border-left: 4px solid #272727;
    border-top: 4px solid #272727;
    border-right: 4px solid #272727;
}

.inactive-nav {
    border-bottom: 4px solid #272727;
}

.bg-card {
    background-image: linear-gradient(#5998c5 10%, #154b72);
    background-size: 200% 200%;
    background-position: 0% 100%;
    animation-name: card-anime;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#home .bg-card {
    background-image: linear-gradient(#ff652f 40%, #8a381b);
}

#resume .bg-card {
    background-image: linear-gradient(#FFD447 40%, #9b8028);
}

#projects .bg-card {
    background-image: linear-gradient(#5998c5 40%, #154b72);
}

@keyframes card-anime {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 100% 0%;
    }
}