#brand-icon {
    position: relative;
    width: 125px;
    align-items: center;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
}

#brand-icon:hover .overlay {
    width: 100%;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.bg-1 {
    background-color: #272727;
}

.bg-2 {
    background-color: #747474;
}

.bg-3 {
    background-color: #FF652F;
}

.bg-4 {
    background-color: #FFE400;
}

.bg-5 {
    background-color: #14A76C;
}

.color-1 {
    color: #272727;
}

.color-2 {
    color: #747474;
}

.color-3 {
    color: #FF652F;
}

.color-4 {
    color: #FFE400;
}

.color-5 {
    color: #14A76C;
}

.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}